/* To import specific font from Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box; /* That padding doesn't take up the width */
    padding: 0;     /* To reset */
    margin: 0;      /* To reset */
}

body {
    font-family: 'Open Sans', sans-serif;   /* To implement the imported font */
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;    /* To have a width of 100 % of its container for all images */
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;    /* Align along the cross axis (vertical axis) */
    justify-content: space-between; /* Align along the main axis (horizontal axis) - space-between to have the logo on the one side and the ul on the other */
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;    /* To have a width of 100 % of its container */
    height: 70px;   /* This height is quite common for a navbar */
    position: fixed;    /* To have it stick on the top */
    top: 0px;   /* To have the navbar 0px from the top */
    padding: 0 30px;
    transition: 0.5s;   /* To have a transition between two states */
}

.navbar.top {
    background: transparent;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

.navbar ul {
    display: flex;  /* To make the ul a flex container */
}

.navbar .logo {
    font-weight: 400;   /* To make it more bold */
}

/* Header */
.hero {
    background: url('../images/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative; /* The parrent element */
    color: #fff;
}

.hero .content {
    display: flex;  /* To have the content in a flex container */
    flex-direction: column; /* This turns the main axis from horizontal to vertical - the main axis (horizontal axis) is now vertical */
    align-items: center;    /* Align items horizontally - Align items along the cross axis (horizontal axis) */
    justify-content: center;    /* Align items vertically - Align along the main axis (vertical) */
    text-align: center;
    height: 100%;   /* To have the height 100 % of its container (100vh) */
    padding: 0 20px;    /* To don't have it rapped up on smaller screens */
}

.hero .content h1 {
    font-size: 55px;    /* The Sky Is The Limit */
}

.hero .content p {
    font-size: 23px;    /* We provide world class financial assistance */
    max-width: 600px;   /* That it doesn't extend to much out */
    margin: 20px 0 30px;    /* top  left/right  bottom */
}

.hero::before { /* To insert content (in this case an overlay that darkens the background image) before the element (.hero - Hero Header) */
    content: '';    /* This property is needed */
    position: absolute; /* The child element ogf .hero */
    top: 0; /* Placement */
    left: 0;    /* Placement */
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero * {   /* To select everything within .hero */
    z-index: 10;    /* To have the content of the hero header in front of the overlay */
}

.hero.blog {
    background: url('../images/home/blog.jpg') no-repeat center center/cover;
    height: 30vh;
}

/* Icons */
.icons {
    padding: 30px;
}

.icons h3 { /* nvestment Banking... */
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {  /* The fontawesome icons */
    background-color: #28a745;
    color: #fff;
    padding: 1rem;
    border-radius: 50%; /* To make the icons round */
    margin-bottom: 15px;
}

/* Cases */
.cases img:hover {
    opacity: 0.7;
}

.team img {
    border-radius: 50%; /* To have rounded images */
}

/* Callback form */
.callback-form {
    width: 100%;    /* 100 % of its container */
    padding: 20px 0;
}

.callback-form label {
    display: block; /* The default for label is inline - block to have each label in a separat line */
    margin-bottom: 5px;
}

.callback-form .form-control {  /* The label and the input */
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form input:focus {
    outline-color: #28a745; /* outline 0 to get rid of it */
}

.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column; /* To have the social icons as columns to center these - social icons are in a row and the text "Copyright... is in the second row */
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer a { /* The social icons */
    color: #fff;
}

.footer a:hover {
    color: #28a745;
}

.footer .social > * {   /* To select everything within the .social div */
    margin-right: 30px;
}

