/* Text colors */
.text-primary {     /* For the logo */
    color: #28a745;
}

.text-secondary {
    color: #0284d0;
}

/* Button */
.btn {
    cursor: pointer;    /* To make it more visible when hovering over the button */
    display: inline-block;  /* From inline to inline-block */
    padding: 10px 30px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

/* To have optional button styles */
.btn-primary, .bg-primary {
   background: #28a745;
   color: #fff;
}
.btn-secondary, .bg-secondary {
   background: #0284d0;
   color: #fff;
}


